<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Administração Pedagógica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Administração Pedagógica</h1>
                    <p>Selecione uma opção abaixo:</p>
                    <ul>
                        <li><a href="">Frequencia</a></li>
                        <li><a href="">Faltas</a></li>
                        <li><a href="/indicadores">Indicadores</a></li>
                    </ul>
                </div>
            </div>
        </div>
</html>